@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display-swap');

:root {
    --main-color: #75b834;
    --color-dark: #0e0e10;
    --text-grey: #8390A2;
    --text-green: #4daf46; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.small-container {
    width: 95%;
    margin: 0 auto;
}

.violet-overlay {
    background-color: rgba(189, 140, 191, .51);
    width: 100%;
    height: 100%;
    padding: 70px 0;
}

.sidebar {
    width: 100px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 1rem;
    color: var(--main-color);
    border-radius: 10px 10px 10px 10px;
}

.sidebar-menu a span:first-child {
    font-size: 2.4rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display:none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 100px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 100px;
    width: calc(100% - 100px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

main {
    margin-top: 0;
    padding: 2rem 1.5rem;
    background: #F1F5F9;
    min-height: calc(100vh - 10px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single div:first-child span {
    color: var(--text-grey);
}

/* about us */

.about-us {
    position: relative;
    padding: 100px 0;
    font-family: 'Open Sans', sans-serif;
}

.about-us .row > .col-lg-6:first-of-type {
    position: relative;
    left: 50px;
}

.about-us .small-container > p + div {
    padding: 70px 0;
    background-color: #e8e9eb;
    box-shadow: 5px 5px 10px #d2cfcf, -5px -5px 10px #d2cfcf;
}

.about-us .small-container > p + div h4 {
    margin-bottom: 40px
}

.about-us .small-container .text-right p {
    margin-bottom: 40px;
    width: 80%;
    float: right;
}

.about-us .small-container > p + div button {
    background-color: #bd8cbf;
    border: none;
}

.about-us .small-container > p + div a {
    display: block;
    color: #FFF;
    padding: 10px 40px;
}

.about-us .item {
    width: 200px;
    position: absolute;
    color: white;
    background-color: #bd8cbf;
}

.about-us .item p {
    font-size: 15px;
}

.about-us .item img {
    width: 100%;
    height: 150px
}

.about-us .item h5 {
    margin: 5px 0;
}

.about-us .item p {
    margin-bottom: 5px;
}

.about-us .item:first-of-type {
    left: 405px;
    bottom: 115px;
    z-index: 2;
    box-shadow: -2px 2px 10px #5d5959;
}

.about-us .item:nth-of-type(2) {
    left: 105px;
    bottom: 115px;
    z-index: 2;
    box-shadow: 2px 2px 10px #5d5959;
}

.about-us .item:nth-of-type(3) {
    position: relative;
    top: 162px;
    left: -45px;
}

.about-us .item:nth-of-type(3) img {
    position: absolute;
    bottom: 70px;
    right: 0px;
    z-index: 0;
}

.about-us .item:last-of-type {
    left: 268px;
    top: 90px;
}

.about-us .first {
    width: 100px;
    height: 200px;
    position: absolute;
    background-color: #bd8cbf;
    top: 140px;
    z-index: -5;
}

.about-us .second {
    width: 100px;
    height: 200px;
    position: absolute;
    background-color: #bd8cbf;
    bottom: 58px;
    right: 34px;
    z-index: -5;
}

.about-us .row > div > .item:nth-of-type(3) div {
    position: relative;
    z-index: 5;
    background-color: #bd8cbf;
    padding: 5px;
}

/* contact */

.contact .contact-form {
    width: 70%
}

.contact {
    background-image: url('./contact.jpg');
    background-size: cover;
}

.contact h2 {
    color: white;
    margin-bottom: 30px;
}

.contact .contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact form input, .contact form textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 10px;
}

.contact form input{
    min-height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px 10px;
}

.contact form textarea {
    resize: none;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px 10px;
}

.contact form input[type="submit"] {
    width: 130px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    background-color: #ef44f8;
    color: white;
    margin: 0 auto;
    display: block;
}



.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card {
    background:#fff;
    border-radius: 5px;
}

.card-header {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.status.purple {
    background: rebeccapurple;
}

.status.pink {
    background: deeppink;
}

.status.orange {
    background: orangered;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.contact-group span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5re;
    color: var(--main-color);
}



@media (max-width: 1200px) {
    
    /* about */
    
    .about-us .row > .col-lg-6:first-of-type {
        left: -10px;
    }
    .about-us .small-container .text-right p {
        width: 70%
    }
    .about-us .item {
        width: 150px
    }
    .about-us .item img {
        height: 125px
    }
    .about-us .item:first-of-type {
        left: 440px;
        bottom: 154px;
    }
    .about-us .item:nth-of-type(2) {
        left: 167px;
        bottom: 153px;
    }
    .about-us .item:nth-of-type(3) {
        top: 149px;
        left: 19px;
    }
    .about-us .item:last-of-type {
        left: 305px;
        top: 132px;
    }
    
    .about-us .row > div > .item:nth-of-type(3) img {
        position: static
    }
    
    .about-us .row > div > .item:nth-of-type(3) p {
        display: none;
    }

    /* agency */
    
    .agency img:first-of-type, .agency img:last-of-type {
        width: 150px
    }
    .agency .container > div > div img {
        max-width: 400px;
        width: 100%;
    }
    .agency .container > div h2 {
        bottom: 87px;
        left: 164px;
        font-size: 30px;
    }
    .agency .container > div h2 {
        display: none;
    }

}

@media (max-width: 992px) {
    
    /* header */
    
    header h1 {
        font-size: 65px !important;
    } 
    
    /* navbar */
    
    .navbar ul {
        background-color: rgba(189, 140, 191, .85);
    }
    .navbar ul li {
        margin: 10px 0;
    }
    nav.navbar form {
        width: 100%;
        position: static;
    }
    
    /* about */
    
    .about-us .small-container > p + div {
        padding: 50px 0;
    }
    .about-us .row > .col-lg-6:first-of-type {
        height: 350px;
        left: 50px;
    }
    .about-us .small-container .text-right p {
        width: 100%;
    }
    
    /* services */
    
    .services .slide {
        width: 80%
    }
    
    .services .carousel-control-next, .services .carousel-control-prev {
        width: 50px;
        height: 50px;
    }
    
    /* agency */
    
    .agency img:first-of-type, .agency img:last-of-type {
        display: none
    }
    .agency .container > div > div img {
        display: block;
    }
    .agency .container > div {
        width: 56%;
    }
    
    /* statistics */
    
    .statistics .col-lg-3 {
        margin-bottom: 40px
    }
    
    /* contact */
    
    .contact .contact-form {
        width: 70%
    }
    
    /* footer */
    
    footer .col-lg-3 {
        margin-bottom: 40px;
    }
    
}

@media (max-width: 768px) {
    
    /* header */
    
    header h1 {
        font-size: 50px !important;
    } 
    
    /* about */
    
    .about-us .row > .col-lg-6:first-of-type {
        display: none;
    }
    
    /* services */
    
    .services .slide {
        width: 90%
    }
    .services .carousel-control-next, .services .carousel-control-prev {
        display: none;
    }
    
    /* agency */
    
    .agency .container > div {
        width: 87%;
    }
    
}